{% extends "layout.html" %}
{% block body %}

<h1>Current capture</h1>

<div class="panel panel-default">
	<div class="panel-body">
		{% block current_capture %}{% endblock %}
	</div>
</div>

<br />
<h1>List of captures</h1>

<table class="table table-hover">
	<tr>
		<th><strong>Date</strong></th>
		<th><strong># packets</strong></th>
		<th><strong></strong></th>
	</tr>
    {% for c in captures %}
	<tr>
		<td>{{c.name}}</td> 
		<td>{{c.get_packets_count()}}</td>
		<td>
			<a href='/{{c.name}}' class='btn btn-primary'>Show</a> 
			<a href='/{{c.name}}/delete' class='btn btn-danger remove-capture'>Delete</a>
		</td>		
	</tr>
    {% endfor %}
</table>

{% endblock %}
