<!DOCTYPE html>
<html>
	<head>
		<title>Network Analyzer</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">	
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/list.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>			
		<script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>		
		<script type="text/javascript" src="{{ url_for('static', filename='js/list_config.js') }}"></script>		
	</head>
	<body>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
