{% extends "layout.html" %}
{% block body %}

<br />
<a href="/" class="btn btn-primary">Back</a>

<h1>{{capture.name}}</h1>

<div id="packets">

	<div class="panel panel-default">
		<div class="panel-body">
			<p>Search by <strong>time</strong>, <strong>source</strong>, <strong>destination</strong> and <strong>protocole</strong></p>
			<br />
			<input class="search" placeholder="Search" />
		</div>
	</div>	

	<table class="table table-condensed">	
		<tr>
			<th><button class="sort btn btn-default" data-sort="time"><strong>Time</strong></button></th>
			<th><button class="sort btn btn-default" data-sort="src"><strong>Source</strong></button></th>
			<th><button class="sort btn btn-default" data-sort="dst"><strong>Destination</strong></button></th>
			<th><button class="sort btn btn-default" data-sort="proto"><strong>Protocole</strong></button></th>
		</tr>

		<tbody class="list">

			{% for p in capture.packets %}
			<tr>
				<td class="time">{{p.time}}</td>		
				<td class="src">{{p.src}}</td>		
				<td class="dst">{{p.dst}}</td>
				<td class="proto">{{p.proto}}</td>
			</tr>
			{% endfor %}

		</tbody>

	</table>

</div>

{% endblock %}
